@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap");

.logo img {
  width: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.burger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  padding: 2vmax;
}

.hero {
  height: 70vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  margin-bottom: 2vmax;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 5vmax !important;
  text-shadow: 0px 4px 6px rgba(16, 15, 15, 0.4);
}

.hero p {
  font-size: 1.2vmax !important;
  margin-bottom: 30px;
}

.shop-now-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.shop-now-btn:hover {
  background-color: #2980b9;
}
