@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap");
.main-page {
  width: 100vw;
  height: 50vmax;

  background-image: linear-gradient(
      to top,
      rgba(18, 18, 18, 0.3),
      rgba(23, 22, 22, 0.1) 60%
    ),
    url("../../images//main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}
.heading-main {
  font-family: "Signika Negative", sans-serif;
  font-weight: 600;
  font-size: 5vmax !important;
  color: #2a3239;
}
.headerContainer {
  width: 60%;
  padding: 10% 5%;
}

