.product-container-heading {
  display: block;
  width: 40vmax;
  text-align: center;
  padding: 1vmax 0vmax;
  border-bottom: 2px solid gray;
  margin: 2% auto;
  color: rgb(53, 48, 48);
  font-size: 2vmax;
}
.product-container {
  width: 90vw;
  display: flex;

  justify-content: space-around;
  margin: 0% auto;

  flex-direction: row-reverse;
}
.product-main-container {
  width: 70vmax;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vmax;
  margin: 5% auto;
}
.filter-container {
  width: 18vmax;
  padding: 2vmax;
}
@media only screen and (max-width: 700px) {
  .product-main-container {
    display: flex;

    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .product-flex {
    width: 150%;
  }
  .filter-container {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .product-container {
    flex-wrap: wrap-reverse;
  }
}
